@import "tailwindcss";

* {
    font-family: "Manrope";
    transition: 0.5s ease;
}

body{
    border: 2px solid black;
}

:root {
    --primary-color: linear-gradient(270deg, #F00 0%, #FF8938 100%);
    --gradient-gray: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%);
    --regular-font-color: #777;
}

.heading-font-1-responsive {
    font-size: clamp(40px, 4vw, 80px);
    font-weight: 800;
}

.heading-font-2 {
    font-size: 45px;
    font-weight: 800;
}

.heading-font-3 {
    font-size: 25px;
    font-weight: 800;
}

.heading-font-4 {
    font-size: 20px;
    font-weight: 800;
}

.regular-font-1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--regular-font-color);
}

.regular-font-2 {
    font-size: 16px;
    font-weight: 500;
}

.primary-btn {
    padding: 10px 20px;
    background: var(--primary-color);
    color: white;
    border-radius: 10px;
}

.primary-btn:hover {
    scale: 1.05;
    cursor: pointer;
}

/* header section */
.rating-container {
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 15px;
    transform: translateY(-100px);
}

/* product section */
.product-card-container {
    /* border: 2px solid black; */
}

.product {
    /* border: 2px solid black; */
    text-align: center;
    border-radius: 10px;
    background: var(--gradient-gray);
}

.product h3,
.product p {
    padding: 0 10px;
    margin: 10px 0;
}

.product img {
    /* border: 2px solid black; */
    margin: 0 auto;
    padding: 10px 0;
}

/* responsive */

/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .product-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 20px;
    }
}

/* small device */

@media screen and (max-width: 576px) {
    .header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .rating-container {
        /* border: 2px solid black; */
        background-color: white;
        border-radius: 15px;
        transform: translateY(0px);
        scale: 0.7;
        width: 80%;
        margin: 0 auto;
    }

    .product-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        gap: 20px;
    }

    .product-description{
        width: 100%;
    }
}